<!doctype html>
<html ng-app="notify">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Notify</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/notify.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="vendor/angularfire/dist/angularfire.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="app/notify.js"></script>

  </head>
  <body>
    <a ui-sref="login">login</a>
    <div ui-view class="content"></div>
  </body>
</html>
