<!doctype html>
<html ng-app="notify">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Notify</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/notify.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>
    <script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="app/notify.js"></script>

  </head>
  <body ng-controller="MainCtrl as main" ng-class="{loading:loadingView}" class="bg-{{main.currentColor}}">
    <div class="app-wrap">
      <header class="navbar-clear nav-wrap" role="banner">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ui-sref="login">login</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse bg-{{main.currentColor}}">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="{{main.currentColor}}" href="http://angularjs.org/" target="_blank">AngularJS</a></li>
            <li><a class="{{main.currentColor}}" href="http://firebase.com/" target="_blank">Firebase</a></li>
            <li><a class="{{main.currentColor}}" href="https://github.com/simpulton/noterious" target="_blank">GitHub</a></li>
            <li>
              <a class="btn btn-link {{main.currentColor}}" ng-if="main.currentUser" ng-click="main.logout()">Logout</a>
            </li>
          </ul>
        </div>
      </header>

      <div ui-view class="content"></div>

      <div class="modal"></div>

    </div>



    <script>
      var navMain = angular.element(".navbar-collapse");
      navMain.on("click", "a", null, function () {
         navMain.collapse('hide');
      });
    </script>
  </body>
</html>
